In [78]:
#import files
import pandas as pd

In [107]:
df1 = pd.read_csv(r'C:\Users\shaya\Downloads\t20i_deathbowl.csv')
print(df1)

             Player     O    R   W
0         DB Sharma  26.1  233  12
1        HNK Jensen  12.2   86  12
2          AN Kelly  17.0  109  11
3          M Schutt  20.5  181  11
4      S Ecclestone  19.5  141  10
..              ...   ...  ...  ..
113      S MacMahon   2.0   14   0
114      SD Bahadur   2.0   21   0
115  Shohely Akhter   1.0    7   0
116     SS Grimmond   5.0   32   0
117   ST Frohnmayer   2.0   13   0

[118 rows x 4 columns]

In [108]:
df2 = pd.read_csv(r'C:\Users\shaya\Downloads\t20_deathbowl.csv')
print(df2)

           Player     O    R   W
0     JL Jonassen  22.1  155  22
1        H Graham  30.3  225  18
2    A Wellington  24.3  205  15
3        M Schutt  24.0  203  15
4      NM Hancock  14.0  151  13
..            ...   ...  ...  ..
108        S Luus   1.0    5   0
109       S Munro   0.4    9   0
110      SM Betts   1.0   14   0
111    T Flintoff   7.5   57   0
112  TJ Vlaeminck   1.0   15   0

[113 rows x 4 columns]

In [112]:
#define df3 for merging common players files 
df3 = pd.merge(df1, df2[['Player', 'O', 'R', 'W']], on='Player')

In [113]:
print(df3)

                  Player   O_x  R_x  W_x   O_y  R_y  W_y
0              DB Sharma  26.1  233   12  10.0   78    5
1             HNK Jensen  12.2   86   12   2.5   23    2
2               M Schutt  20.5  181   11  24.0  203   15
3           S Ecclestone  19.5  141   10  13.3  111    9
4             TM McGrath   8.0   39   10  10.4  123    2
5            JL Jonassen  11.4   85    9  22.1  155   22
6             SFM Devine  16.3  114    8  14.3  144    4
7            HK Matthews  13.0  112    7  13.1  105   10
8               KH Brunt  11.4   77    7   2.0   16    3
9              NR Sciver  13.0  110    7   0.4    9    0
10              RP Yadav  13.0   98    6   5.0   34    3
11           Fatima Sana  17.0  157    5   1.0    4    1
12            N de Klerk   7.0   42    4   4.0   40    1
13              S Ismail  11.0   88    4  10.0   78    5
14               A Bosch   2.0    9    3   2.0   17    1
15               A Khaka  14.0  112    3   3.0    6    2
16               AC Kerr  12.0   88    3  11.4   85    5
17             FR Davies   8.0   70    3   4.0   30    1
18              H Graham   3.0   27    3  30.3  225   18
19               JM Kerr   4.0   23    3   2.0   32    0
20           P Vastrakar  10.1   73    3   2.0   26    0
21             A Gardner   9.0   64    2  17.0  138   10
22          A Sutherland   6.0   51    2  20.4  164   12
23                H Kaur   3.0   10    2   8.0   69    7
24           K Ramharack   5.0   25    2   1.0   16    0
25               LK Bell   2.0   15    2   2.0   16    2
26          Poonam Yadav   6.0   43    2   5.2   49    1
27             SC Selman   7.0   61    2   5.0   25    1
28               AM King   8.0   63    1  18.0  127    7
29              CL Tryon   3.0   21    1   1.0    6    1
30             CS Fraser   5.3   40    1   2.0   19    0
31             G Wareham   1.0    3    1   1.0    4    1
32                M Kapp   3.0   26    1  14.3  116    9
33           MK Villiers   1.0    9    1   1.2   16    0
34            NE Farrant   3.2   35    1   4.0   27    6
35              NJ Carey   8.0   89    1  16.3  152    8
36            S Molineux   3.0   10    1  23.0  202    6
37            SS Connell   2.5   30    1   1.0    1    1
38            A Mohammed   6.0   38    0   2.4   10    3
39  AN Davidson-Richards   1.0   12    0   2.0   10    3
40         HJ Darlington   1.0   16    0  21.5  182   12
41             IECM Wong   5.0   45    0   4.5   48    2

In [115]:
df3['O'] = df3['O_x'] + df3['O_y']
df3['R'] = df3['R_x'] + df3['R_y']
df3['W'] = df3['W_x'] + df3['W_y']

print (df3)

                  Player   O_x  R_x  W_x   O_y  R_y  W_y     O    R   W
0              DB Sharma  26.1  233   12  10.0   78    5  36.1  311  17
1             HNK Jensen  12.2   86   12   2.5   23    2  14.7  109  14
2               M Schutt  20.5  181   11  24.0  203   15  44.5  384  26
3           S Ecclestone  19.5  141   10  13.3  111    9  32.8  252  19
4             TM McGrath   8.0   39   10  10.4  123    2  18.4  162  12
5            JL Jonassen  11.4   85    9  22.1  155   22  33.5  240  31
6             SFM Devine  16.3  114    8  14.3  144    4  30.6  258  12
7            HK Matthews  13.0  112    7  13.1  105   10  26.1  217  17
8               KH Brunt  11.4   77    7   2.0   16    3  13.4   93  10
9              NR Sciver  13.0  110    7   0.4    9    0  13.4  119   7
10              RP Yadav  13.0   98    6   5.0   34    3  18.0  132   9
11           Fatima Sana  17.0  157    5   1.0    4    1  18.0  161   6
12            N de Klerk   7.0   42    4   4.0   40    1  11.0   82   5
13              S Ismail  11.0   88    4  10.0   78    5  21.0  166   9
14               A Bosch   2.0    9    3   2.0   17    1   4.0   26   4
15               A Khaka  14.0  112    3   3.0    6    2  17.0  118   5
16               AC Kerr  12.0   88    3  11.4   85    5  23.4  173   8
17             FR Davies   8.0   70    3   4.0   30    1  12.0  100   4
18              H Graham   3.0   27    3  30.3  225   18  33.3  252  21
19               JM Kerr   4.0   23    3   2.0   32    0   6.0   55   3
20           P Vastrakar  10.1   73    3   2.0   26    0  12.1   99   3
21             A Gardner   9.0   64    2  17.0  138   10  26.0  202  12
22          A Sutherland   6.0   51    2  20.4  164   12  26.4  215  14
23                H Kaur   3.0   10    2   8.0   69    7  11.0   79   9
24           K Ramharack   5.0   25    2   1.0   16    0   6.0   41   2
25               LK Bell   2.0   15    2   2.0   16    2   4.0   31   4
26          Poonam Yadav   6.0   43    2   5.2   49    1  11.2   92   3
27             SC Selman   7.0   61    2   5.0   25    1  12.0   86   3
28               AM King   8.0   63    1  18.0  127    7  26.0  190   8
29              CL Tryon   3.0   21    1   1.0    6    1   4.0   27   2
30             CS Fraser   5.3   40    1   2.0   19    0   7.3   59   1
31             G Wareham   1.0    3    1   1.0    4    1   2.0    7   2
32                M Kapp   3.0   26    1  14.3  116    9  17.3  142  10
33           MK Villiers   1.0    9    1   1.2   16    0   2.2   25   1
34            NE Farrant   3.2   35    1   4.0   27    6   7.2   62   7
35              NJ Carey   8.0   89    1  16.3  152    8  24.3  241   9
36            S Molineux   3.0   10    1  23.0  202    6  26.0  212   7
37            SS Connell   2.5   30    1   1.0    1    1   3.5   31   2
38            A Mohammed   6.0   38    0   2.4   10    3   8.4   48   3
39  AN Davidson-Richards   1.0   12    0   2.0   10    3   3.0   22   3
40         HJ Darlington   1.0   16    0  21.5  182   12  22.5  198  12
41             IECM Wong   5.0   45    0   4.5   48    2   9.5   93   2

In [116]:
df3 = df3[['Player','O','R','W']]
df3

                  Player     O    R   W
0              DB Sharma  36.1  311  17
1             HNK Jensen  14.7  109  14
2               M Schutt  44.5  384  26
3           S Ecclestone  32.8  252  19
4             TM McGrath  18.4  162  12
5            JL Jonassen  33.5  240  31
6             SFM Devine  30.6  258  12
7            HK Matthews  26.1  217  17
8               KH Brunt  13.4   93  10
9              NR Sciver  13.4  119   7
10              RP Yadav  18.0  132   9
11           Fatima Sana  18.0  161   6
12            N de Klerk  11.0   82   5
13              S Ismail  21.0  166   9
14               A Bosch   4.0   26   4
15               A Khaka  17.0  118   5
16               AC Kerr  23.4  173   8
17             FR Davies  12.0  100   4
18              H Graham  33.3  252  21
19               JM Kerr   6.0   55   3
20           P Vastrakar  12.1   99   3
21             A Gardner  26.0  202  12
22          A Sutherland  26.4  215  14
23                H Kaur  11.0   79   9
24           K Ramharack   6.0   41   2
25               LK Bell   4.0   31   4
26          Poonam Yadav  11.2   92   3
27             SC Selman  12.0   86   3
28               AM King  26.0  190   8
29              CL Tryon   4.0   27   2
30             CS Fraser   7.3   59   1
31             G Wareham   2.0    7   2
32                M Kapp  17.3  142  10
33           MK Villiers   2.2   25   1
34            NE Farrant   7.2   62   7
35              NJ Carey  24.3  241   9
36            S Molineux  26.0  212   7
37            SS Connell   3.5   31   2
38            A Mohammed   8.4   48   3
39  AN Davidson-Richards   3.0   22   3
40         HJ Darlington  22.5  198  12
41             IECM Wong   9.5   93   2

In [117]:
df3['Avg']=df3['R']/df3['W']
df3['B']= df3['O']%1*10 + (df3['O'] - (df3['O']%1))*6
df3['Econ']=df3['R']*6/df3['B']
df3['SR']=df3['B']/df3['W']
df3

,Player,O,R,W,Avg,B,Econ,SR
0,DB Sharma,36.1,311,17,18.294118,217.0,8.599078,12.764706
1,HNK Jensen,14.7,109,14,7.785714,91.0,7.186813,6.500000
2,M Schutt,44.5,384,26,14.769231,269.0,8.565056,10.346154
3,S Ecclestone,32.8,252,19,13.263158,200.0,7.560000,10.526316
4,TM McGrath,18.4,162,12,13.500000,112.0,8.678571,9.333333
5,JL Jonassen,33.5,240,31,7.741935,203.0,7.093596,6.548387
6,SFM Devine,30.6,258,12,21.500000,186.0,8.322581,15.500000
7,HK Matthews,26.1,217,17,12.764706,157.0,8.292994,9.235294
8,KH Brunt,13.4,93,10,9.300000,82.0,6.804878,8.200000
9,NR Sciver,13.4,119,7,17.000000,82.0,8.707317,11.714286
10,RP Yadav,18.0,132,9,14.666667,108.0,7.333333,12.000000
11,Fatima Sana,18.0,161,6,26.833333,108.0,8.944444,18.000000
12,N de Klerk,11.0,82,5,16.400000,66.0,7.454545,13.200000
13,S Ismail,21.0,166,9,18.444444,126.0,7.904762,14.000000
14,A Bosch,4.0,26,4,6.500000,24.0,6.500000,6.000000
15,A Khaka,17.0,118,5,23.600000,102.0,6.941176,20.400000
16,AC Kerr,23.4,173,8,21.625000,142.0,7.309859,17.750000
17,FR Davies,12.0,100,4,25.000000,72.0,8.333333,18.000000
18,H Graham,33.3,252,21,12.000000,201.0,7.522388,9.571429
19,JM Kerr,6.0,55,3,18.333333,36.0,9.166667,12.000000
20,P Vastrakar,12.1,99,3,33.000000,73.0,8.136986,24.333333
21,A Gardner,26.0,202,12,16.833333,156.0,7.769231,13.000000
22,A Sutherland,26.4,215,14,15.357143,160.0,8.062500,11.428571
23,H Kaur,11.0,79,9,8.777778,66.0,7.181818,7.333333
24,K Ramharack,6.0,41,2,20.500000,36.0,6.833333,18.000000
25,LK Bell,4.0,31,4,7.750000,24.0,7.750000,6.000000
26,Poonam Yadav,11.2,92,3,30.666667,68.0,8.117647,22.666667
27,SC Selman,12.0,86,3,28.666667,72.0,7.166667,24.000000
28,AM King,26.0,190,8,23.750000,156.0,7.307692,19.500000
29,CL Tryon,4.0,27,2,13.500000,24.0,6.750000,12.000000
30,CS Fraser,7.3,59,1,59.000000,45.0,7.866667,45.000000
31,G Wareham,2.0,7,2,3.500000,12.0,3.500000,6.000000
32,M Kapp,17.3,142,10,14.200000,105.0,8.114286,10.500000
33,MK Villiers,2.2,25,1,25.000000,14.0,10.714286,14.000000
34,NE Farrant,7.2,62,7,8.857143,44.0,8.454545,6.285714
35,NJ Carey,24.3,241,9,26.777778,147.0,9.836735,16.333333
36,S Molineux,26.0,212,7,30.285714,156.0,8.153846,22.285714
37,SS Connell,3.5,31,2,15.500000,23.0,8.086957,11.500000
38,A Mohammed,8.4,48,3,16.000000,52.0,5.538462,17.333333
39,AN Davidson-Richards,3.0,22,3,7.333333,18.0,7.333333,6.000000
40,HJ Darlington,22.5,198,12,16.500000,137.0,8.671533,11.416667
41,IECM Wong,9.5,93,2,46.500000,59.0,9.457627,29.500000

In [118]:
df_combined = pd.concat([df1, df2], ignore_index=True)
df_unique = df_combined.drop_duplicates(subset='Player', keep=False)
df4 = df_unique
df4['Avg']=df4['R']/df4['W']
df4['B']= df4['O']%1*10 + (df4['O'] - (df4['O']%1))*6
df4['Econ']=df4['R']*6/df4['B']
df4['SR']=df4['B']/df4['W']
df4

C:\Users\shaya\AppData\Local\Temp\ipykernel_30100\1480545958.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Avg']=df4['R']/df4['W']
C:\Users\shaya\AppData\Local\Temp\ipykernel_30100\1480545958.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['B']= df4['O']%1*10 + (df4['O'] - (df4['O']%1))*6
C:\Users\shaya\AppData\Local\Temp\ipykernel_30100\1480545958.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Econ']=df4['R']*6/df4['B']
C:\Users\shaya\AppData\Local\Temp\ipykernel_30100\1480545958.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['SR']=df4['B']/df4['W']

           Player     O    R   W        Avg      B       Econ         SR
2        AN Kelly  17.0  109  11   9.909091  102.0   6.411765   9.272727
7        L Delany  12.5   99   9  11.000000   77.0   7.714286   8.555556
8    Nahida Akter  12.5  103   9  11.444444   77.0   8.025974   8.555556
9    Salma Khatun  11.5   77   8   9.625000   71.0   6.507042   8.875000
11    Aiman Anwer  14.2  111   7  15.857143   86.0   7.744186  12.285714
..            ...   ...  ...  ..        ...    ...        ...        ...
226        S Luus   1.0    5   0        inf    6.0   5.000000        inf
227       S Munro   0.4    9   0        inf    4.0  13.500000        inf
228      SM Betts   1.0   14   0        inf    6.0  14.000000        inf
229    T Flintoff   7.5   57   0        inf   47.0   7.276596        inf
230  TJ Vlaeminck   1.0   15   0        inf    6.0  15.000000        inf

[147 rows x 8 columns]

In [119]:
df5 = pd.concat([df3, df4], axis=0)
print(df5)

           Player     O    R   W        Avg      B       Econ         SR
0       DB Sharma  36.1  311  17  18.294118  217.0   8.599078  12.764706
1      HNK Jensen  14.7  109  14   7.785714   91.0   7.186813   6.500000
2        M Schutt  44.5  384  26  14.769231  269.0   8.565056  10.346154
3    S Ecclestone  32.8  252  19  13.263158  200.0   7.560000  10.526316
4      TM McGrath  18.4  162  12  13.500000  112.0   8.678571   9.333333
..            ...   ...  ...  ..        ...    ...        ...        ...
226        S Luus   1.0    5   0        inf    6.0   5.000000        inf
227       S Munro   0.4    9   0        inf    4.0  13.500000        inf
228      SM Betts   1.0   14   0        inf    6.0  14.000000        inf
229    T Flintoff   7.5   57   0        inf   47.0   7.276596        inf
230  TJ Vlaeminck   1.0   15   0        inf    6.0  15.000000        inf

[189 rows x 8 columns]

In [120]:
df5.to_csv('deathbowl_overall.csv', index=True)